body {
    background-color: rgb(255, 255, 255);
    ;
}

#container {
    background-color: rgb(0, 0, 0);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: rgb(0, 0, 0);
    ;
    color: white;
    text-align: left;
    padding: 10px;
}

#content {
    padding: 10px;
}

#nav {
    color: white;
    width: 180px;
    float: left;
}

#main {
    color: white;
    width: 600px;
    float: right;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    ;
    color: white;
    text-align: center;
}